FIREBASE_PROJECT_ID=dashboards-fibrazo
ALLOWED_EMAIL_DOMAIN=@fibrazo.com
ALLOWED_EMAIL_EXCEPTION=usuario_autorizado@ejemplo.com

GOOGLE_CLIENT_EMAIL=service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=YOUR_GOOGLE_SHEET_ID

DRIVE_CHURN_FOLDER_ID=YOUR_CHURN_FOLDER_ID
DRIVE_EXPLORACION_FOLDER_ID=YOUR_EXPLORATION_FOLDER_ID
